<% content_for :title, 'Summoners' %>
<div class="col-md-10">
  <div class="row py1">
    <div class="col-md-6">
      <h1 class="h3">
        Summoners
      </h1>
    </div>
  </div>

  <ul class='slats mt4'>
    <%= render @summoners %>
  </ul>
</div>
