<!DOCTYPE html>
<html>
  <head>
    <title>Deeper Dive</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

    <div>
      <footer class="fs-small text-muted text-center">
        Deeper Dive isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends.  League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc.  League of Legends © Riot Games, Inc.</span>
      </footer>
    </div>
  </body>
</html>
